{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for blog in object_list %}
            <div class="col">
                <div class="card shadow-sm" style="width:100%;height:100%;background-size:cover">
                    <img src="{{ blog.photo | media_filter }}" style="width:100%; height:100%; object-fit: cover">
                    <div class="card-body">
                        <p class="card-text">{{ object.name }}</p>
                        <p class="card-text"> {{ object.description|slice:100 }} </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="col text-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'catalog:blog_detail' blog.pk %}" role="button">Просмотр</a>
                                    <a class="btn btn-primary" href="{% url 'catalog:blog_update' blog.pk %}" role="button">Редактирование</a>
                                    <a class="btn btn-primary" href="{% url 'catalog:blog_delete' blog.pk %}" role="button">Удалить</a>
                                </div>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}